:root {
  --red:#a8201a;
  --blue:#0c71bc;
  --skyblue:#0f8b8d;
  --green:#1db954;
  --yellow:#ec9a29;
  --white:#f0f0f0;
  --dark:#1f1b24;
  --grey:#7e7e7e;
  --roboto: 'Rubik', sans-serif;
  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--roboto);
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
header {
  background-color: var(--dark);
  color: var(--white);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo img {
  height: 50px;
}

.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 15px;
}

.menu a {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: all 0.2s ease-in-out;

  border-radius: 13px;
  display: block;
  padding: 5px 10px;
}

.menu a:hover {
  background-color: var(--white);
  color: var(--blue);
}
/*SEGUNDA PARTE*/

.imagen-presentacion {
  background-image: url(/public/fondo.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px;
  text-align: center;
}

.imagen-presentacion img {
  max-width: 100%;
  height: auto;
}
/*texto portada*/
.presentation-text {
  max-width: 600px;
  color: var(--white);
  text-align: center;
}

.presentation-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.presentation-text p {
  font-size: 24px;
  margin-bottom: 40px;
}

.presentation-text a {
  display: inline-block;
  background-color: var(--white);
  color: var(--blue);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
}

.presentation-text a:hover {
  background-color: var(--blue);
  color: var(--white);
}

.cards-seccion {
  background-color: #f2f2f2;
  padding: 50px;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
}

.card img {
  max-width: 100%;
  height: auto;
}

.card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  color: #777;
}

.mensaje-seccion {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 50px;
}

.mensaje-destacado h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.mensaje-destacado p {
  font-size: 20px;
  margin-bottom: 0;
}

footer {
  background-color: #dd2a2a;
  color: #fff;
  text-align: center;
  padding: 20px;
}

footer p {
  font-size: 16px;
  margin-bottom: 0;
}
